.main-navbar {
	background-color: #dedede;
	align-items: center;
	height: 100px;
	position: fixed;
}
.nav-img {
	height: 90px;
	width: 220px;
}
.navbar {
    position: relative;
	position: sticky;
  	top: 0;

}
.navbar-img {
    position: relative;
    display: block;
}
.nav-text {
	font-family: Arial;
	position: absolute;
	margin-left: 70px;
}
.account-img {
	height: 50px;
	width: 50px;
}
#ac-img:hover {
  content: url(../img/account_hover.png);
}

.dropbtn {
  background-color: #fff;
  color: #000;
  padding: 15px;
  font-size: 16px;
  border: none;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {background-color: #fff;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: #fff; color: #000;}

.btn {
  background-color: #dbdbdb; 
  border: none; 
  color: black; 
  padding: 12px 16px; 
  font-size: 20px; 
  cursor: pointer; 
}

.btn:hover {
  background-color: #999;
  color: black;
}
.bottom-nav {
	display: block;
	flex-direction: row;
	margin-left: auto;
	margin-right: auto;
	bottom: 0px;
}

.bottom-icon {
	margin-left: 75px;
	margin-right: 75px;
}
.login {
	margin-top: 50%;
	margin: 50px;
	padding-bottom: 20%;
}

@media only screen and (max-width: 600px) {

.navbar-img {
	display: none;
}

.bottom-icon {
	margin: 10px;
}

.navbar svg {
	width: 2em;
	height: 2em;
}
svg {
	width: 1em;
	height: 1em;
}

button {
	margin: 5px;
}
}
